<div>
    <form action ="/names" method="post">
        <label for='name'> Name: </label>
        <input type="text" id="Name_1" name="player_name_1">
        <input type="text" id="Name_2" name="player_name_2">        
        <input type="submit" value="Submit">
    </form>
</div>