<h1>
    Battle!
</h1>
<h2>
    Sign in to play
</h2>

<div>
    <form action ="/names" method="post">
        <label for='player_1_name'>  
            Player 1 Name:
            <input type="text" id="Name_1" name="player_name_1">
        </label>
        <label for='player_2_name'>
            Player 2 Name:
        <input type="text" id="Name_2" name="player_name_2">        
        </label>
        <input type="submit" value="Submit">
    </form>
</div>